{{#each mensajes}}
    <div class='Mensaje'>
        <p class='messageMail'>{{this.mail}}</p>
        <p class='messageDate'>{{this.fecha}}</p>
        <p class='message-class'>{{this.texto}}</p>
    </div>
{{/each}}